.post{
    margin-bottom: 40px;
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}